@{
    ViewBag.Title = "Inicio";
}

<div>
    <div class="text-center">
        <h1 style="text-align-last: center; color :white">Bienvenidos a la Alcaldía de Toledo</h1>
        <h3 style="text-align-last: center; color :white">¡Agradecemos su aporte a la comunidad!</h3>
    </div>
</div>