@{
    ViewBag.Title = "Inicio";
}

<div>
    <div class="text-center">
        <h1 style="text-align-last: center; color :white; ">Bienvenidos a la Alcaldía de Toledo</h1>
        <img src="@Url.Content("~/Content/img/escudo.png")" alt="Alternate Text" />
        <h3 style="text-align-last: center; color :white">¡Agradecemos su aporte a la comunidad!</h3>
        <p>
            <a class="btn btn-success btn-lg" style="margin: 15px" href="#" role="button">¿Cómo funciona?</a>
            <button  class="btn btn-success btn-lg" style="margin: 15px"  onclick="location.href='@Url.Action("Add", "Reclamo")';return false;">Comenzar &raquo;</button>
        </p>
    </div>
</div>


@Styles.Render("~/Background/css")

