@{
    ViewBag.Title = "Inicio";
}

<div>
    <div class="text-center">
        <h1 style="text-align-last: center; color :white">Bienvenidos a la Alcaldía de Toledo</h1>
        <h3 style="text-align-last: center; color :white">¡Agradecemos su aporte a la comunidad!</h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>
            <a class="btn btn-primary btn-lg" style="margin: 15px" href="#" role="button">¿Como funciona?</a>
            <a class="btn btn-primary btn-lg" style="margin: 15px" href="#" role="button">Comenzar &raquo;</a>
        </p>
    </div>
</div>


@Styles.Render("~/Background/css")

