@model IEnumerable<CommonSolution.DTOs.DtoReclamo>
@using GridMvc.Html
@{
    ViewBag.Title = "_D_List";
}
@using GridMvc.Html

<h2>Reclamos:</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.id).Titled("Nro");
    columns.Add(c => c.fechaYhora).Titled("Fecha");
    columns.Add(c => c.observaciones).Titled("Comentarios");
    columns.Add(c => c.idCiudadano).Titled("Id Ciudadano");
    columns.Add(c => c.nombreTipoReclamo).Titled("Tipo");
    columns.Add(c => c.idCuadrilla).Titled("Cuadrilla");
    columns.Add(c => c.estado).Titled("Estado");
    columns.Add(c => c.idZona).Titled("Nro Zona");

    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Modf.Estado", "Modify", new { id = o.id }, new { @class = "btn btn-info" }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Detalle", "Details", new { id = o.id }, new { @class = "btn btn-primary" }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(" ", "CreatePdf", new { id = o.id }, new { @class = "btn btn-primary glyphicon glyphicon-qrcode" }));


}).WithPaging(8).EmptyText("No hay nada que mostrar")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")
}



