@model IEnumerable<CommonSolution.DTOs.DtoUsuario>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
}
@Styles.Render("~/Content/gridmvc")

<h2>Ciudadanos Registrados</h2>
<hr />

@Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.nombreDeUsuario).Titled("Nombre de Usuario").SetWidth(30);
columns.Add(c => c.nombre).Titled("Nombre").SetWidth(30);
columns.Add(c => c.apellido).Titled("Apellido").SetWidth(30);
columns.Add(c => c.telefono).Titled("Teléfono").SetWidth(20);
columns.Add(c => c.email).Titled("e-mail").SetWidth(20);



}).WithPaging(8).EmptyText("No hay nada que mostrar").Selectable(true).Sortable(true).Filterable(true)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")
}
