@model IEnumerable<CommonSolution.DTOs.DtoReclamo>

@using GridMvc.Html
@{
    ViewBag.Title = "_Listado";
}
@Styles.Render("~/Content/gridmvc")

<h2>Reclamos:</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.id).Titled("Nro Reclamo");
    columns.Add(c => c.fechaYhora).Titled("Fecha");
    columns.Add(c => c.observaciones).Titled("Comentarios");
    columns.Add(c => c.idCiudadano).Titled("Id Ciudadano");
    columns.Add(c => c.nombreTipoReclamo).Titled("Tipo");
    columns.Add(c => c.idCuadrilla).Titled("Cuadrilla");
    columns.Add(c => c.idZona).Titled("Zona");

    
}).WithPaging(8).EmptyText("No hay nada que mostrar")


@section Scripts {
   
    @Scripts.Render("~/bundles/grid")
}

