
@{
    ViewBag.Title = "Mapa Termico";
}

<h2>Mapa Térmico</h2>
<hr />
<input type="datetime-local"  id="fechaInicio" />
<input type="datetime-local"  id="fechaFinal" />
<input type="button" name="Filtrar" value="Filtrar" id="btnFiltroMapaCalor" />
<br />
<br />


<div id="map" class="form-group" style="width: auto; height: 600px">

</div>


@section Scripts{
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewHvBMDcMrBFlu3aqp1OhShkwSjWLiBQ&libraries=visualization&callback=initMapTermico"></script>


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mapsReports")
}