@model IEnumerable<CommonSolution.DTOs.DtoCuadrilla>
@using GridMvc.Html
@{
    ViewBag.Title = "Reporte Cuadrillas Mas Eficientes";
}
@Styles.Render("~/Content/gridmvc")
<h2>Reporte Cuadrillas mas eficientes</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.id).Titled("Nombre").SetWidth(30).Filterable(true);
    columns.Add(c => c.encargado).Titled("Encargado").SetWidth(30);
    columns.Add(c => c.idZona).Titled("id Zona").SetWidth(30).Filterable(true);
    columns.Add(c => c.cantidadDePeones).Titled("Cantidad de Peones").SetWidth(20);
    columns.Add(c => c.resueltos).Titled("Rec. Resueltos").SetWidth(20);
    columns.Add(c => c.promedioStg).Titled("Tiemo promedio de Resulución").SetWidth(20);

}).WithPaging(8).EmptyText("No hay nada que mostrar").Selectable(true)


@section Scripts {
    
    @Scripts.Render("~/bundles/grid")
}