
@{
    ViewBag.Title = "Mapa de Reclamos atrasados";
}

<h2>Mapa de Reclamos atrasados</h2>

<div id="map" class="form-group" style="width: auto; height: 600px">

</div>
<form>
    <div class="form-horizontal">
        <h3>Referencias:</h3>
        <div class="form-group">
            <div class="col-md-10">
                <input type="color" class="form-control-color" id="inputGreen" value"" disabled />
                <label id="lbGreen" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="color" class="form-control-color" id="inputYellow" value"" disabled />
                <label id="lbYellow" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="color" class="form-control-color" id="inputRed" value"" disabled />
                <label id="lbRed" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">(Horas desde la realización del Reclamo)</label>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewHvBMDcMrBFlu3aqp1OhShkwSjWLiBQ&callback=initMap"
            async></script>
  
    @Scripts.Render("~/bundles/mapsReports")
}
