
@{
    ViewBag.Title = "VisorReclamosNoResueltos";
}

<h2>Visor de Reclamos no resueltos</h2>





<div id="map" class="form-group" style="width: 800px; height: 500px">

</div>













@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewHvBMDcMrBFlu3aqp1OhShkwSjWLiBQ&callback=initMap"
            async></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mapsReports")
}