@{
    ViewBag.Title = "Inicio";
}

<div>
    <div class="text-center">
        <h2 style="text-align-last: center">Gestión Alcaldía de Toledo</h2>
        <img src="@Url.Content("~/Content/img/EscudoToledo.png")" class="rounded" alt="Escudo de Toledo" />
    </div>
</div>


